.container8 {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

#tableheading8 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}

.responsive-table8 li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.responsive-table8 .table-header8 {
  background-color: #95a5a6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.responsive-table8 .table-row8 {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.responsive-table8 .col-18 {
  flex-basis: 10%;
}

.responsive-table8 .col-28 {
  flex-basis: 24%;
}

.responsive-table8 .col-38 {
  flex-basis: 42%;
}

@media all and (max-width: 767px) {
  .responsive-table8 .table-header8 {
    display: none;
  }

  .responsive-table8 li {
    display: block;
  }

  .responsive-table8 .col8 {
    flex-basis: 100%;
  }

  .responsive-table8 .col8 {
    display: flex;
    padding: 10px 0;
  }

  .responsive-table8 .col8:before {
    color: #6c7a89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
}

.button-44 {
  background-image: linear-gradient(-180deg, #37aee2 0%, #1e96c8 100%);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 1rem 1.75rem;
  text-decoration: none;

  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
}

.button-44:hover {
  background-image: linear-gradient(-180deg, #1d95c9 0%, #17759c 100%);
}

@media (min-width: 768px) {
  .button-44 {
    padding: 1rem 2rem;
  }
}
