#nav16 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 20px #0003;
}
#nav16 #nestednav16 {
  position: relative;
}
#nav16 #nestednav16 .navigation-menu16 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
#nav16 #nestednav16 .navigation-menu16 li {
  position: relative;
}
#nav16 #nestednav16 .navigation-menu16 li a {
  position: relative;
  display: block;
  color: black;
  text-decoration: none;
  padding: 1rem 2rem;
  text-wrap: nowrap;
}
#nav16 #nestednav16 .navigation-menu16 li.extends a::after {
  content: ">";
  display: inline-block;
  transform: rotate(90deg);
  margin-left: 0.5rem;
  padding-bottom: 3px;
  vertical-align: middle;
  font-size: 10px;
}
#nav16 #nestednav16 .navigation-menu16 li:not(.extends) a::after {
  content: "";
}
#nav16 #nestednav16 .navigation-menu16 li ul {
  position: absolute;
  left: 0;
  top: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
  background-color: white;
  box-shadow: 0px 0px 20px #0003;
}
#nav16 #nestednav16 .navigation-menu16 li ul li {
  position: unset;
}
#nav16 #nestednav16 .navigation-menu16 li ul li a::after {
  transform: rotate(0deg) !important;
}
#nav16 #nestednav16 .navigation-menu16 li ul li ul {
  left: 100%;
  top: 0;
  min-height: 100%;
}
#nav16 #nestednav16 .navigation-menu16 li:hover {
  background-color: #eee;
}
#nav16 #nestednav16 .navigation-menu16 li:not(:hover) ul {
  display: none;
}

#nav16 {
  z-index: 2;
}

#nav16 #nestednav16 .navigation-menu16 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 64px;
  /* margin-top: 0; */
}
